{% extends "layout.njk" %}

{% block content %}
    <div class="card">
        <section class="hero">
            <iframe class="Algar-Som" src="https://www.youtube.com/embed?v=9YffrCViTVk" style="border:0" loading="lazy" allowfullscreen></iframe>
        </section>
    </div>
{% endblock content %}