{% extends "layout.njk" %}

{% block content %}
    <div class="card">
        <section class="hero">
            <iframe class="Algar-Som" src="https://app.rocketseat.com.br/" frameborder="0"></iframe>
        </section>
    </div>
{% endblock content %}